<div class="row">
  <div class="col-lg-3" id="categories">
      <ul class="list-group">
        <div class="list-group-item list-group-item-info"><b>Categories</b></div>
        <%= link_to "All Articles", root_path, class: "list-group-item" %>
        <% Category.all.order(:name).each do |category| %>
          <% if category.name == @category_name %>
            <%= link_to category.name, articles_path(category: category.name), class: "list-group-item active" %>
          <% else %>
            <%= link_to category.name, articles_path(category: category.name), class: "list-group-item" %>
          <% end %>
        <% end %>
      </ul>
  </div>

  <div class="col-lg-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <% if params[:category].blank? %>
          <b class="panel-title">All Articles</b>
        <% else %>
          <b class="panel-title">Articles Related to <%= @category_name %></b>
        <% end %>
      </div>
      <div class="panel-body">
        <% @articles.each do |article| %>
          <div>
            <h3><%= link_to article.name, article %></h3>
          </div>
          <div>
            <p><%= truncate(article.content, :length => 500) %></p>
          </div>
        <% end %>
      </div>
    </div>

   

    <%= link_to 'New Article', new_article_path %>
  </div>
</div>
















